# **Section 7.1**
## Question 1
```SQL
SELECT ModelYear, Make, Model
FROM EVRegistry
```
## Question 2
```SQL
SELECT DISTINCT ElectricVehicleType
FROM EVRegistry
```
## Question 3
```SQL
SELECT *
FROM EVRegistry
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)'
```
## Question 4
```SQL
SELECT Make, Model
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000;
```

# **Section 7.2**
## Question 1
```SQL
SELECT *
FROM EVRegistry
WHERE City IS NULL;
```
## Question 2
```SQL
SELECT Make, Model, ElectricVehicleType, VIN
FROM EVRegistry
WHERE vin like '%3E1EA1J'
```
## Question 3
```SQL
SELECT ModelYear, Make, Model, ElectricVehicleType
FROM EVRegistry
WHERE Make = 'TESLA' or Make = 'CHEVEROLET'
ORDER by make, ModelYear DESC
```
## Question 4
```SQL
SELECT stationId, count (*) numberOfUses
FROM EVCharging
GROUP by stationId
ORDER by numberOfUses DESC
LIMIT 5
```
## Question 5
```SQL
SELECT userId, min(chargeTimeHrs) as minTime, max(chargeTimeHrs) as maxTime
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP by userId
ORDER by min(chargeTimeHrs), max(chargeTimeHrs)
```

# **Section 7.3**
## Question 1
```SQL
SELECT round(SUM(chargeTimeHrs),2) as totalOfHoursPerDay, weekday
FROM EVCharging
GROUP by weekday
ORDER by totalOfHoursPerDay DESC
LIMIT 1
```
## Question 2
```SQL
SELECT userId, round(SUM(kwhTotal),2) as totalPower
FROM EVCharging
GROUP by userId
order by totalPower desc
LIMIT 15
```
## Question 3
```SQL
SELECT b.typeFacility, COUNT(DISTINCT a.stationId) AS numStation
FROM factCharge a
INNER JOIN dimFacility b 
On a.facilityID = b.FacilityKey
GROUP by b.typeFacility
ORDER by numStation DESC;
```
## Question 4
##### *Qestion: In your own words, briefly explain Primary keys and Foreign Keys.*   <br> Primary keys are non null values that uniquely identify each record from a table. No other value can have that same ID. There is only one primary key per table and usually look something like "nameID." Additionally, foregin keys are essentially primary keys but just from a different table. Foreign keys uses the values used in another table, to create a link between two or more tables. 
## Question 5
```SQL
SELECT userId, min(chargeTimeHrs) as minTime, max(chargeTimeHrs) as maxTime
FROM EVCharging
GROUP by userId
HAVING min(chargeTimeHrs) > 1
ORDER by min(chargeTimeHrs), max(chargeTimeHrs)
```